In [1]:
import pandas as pd

In [2]:
import pyarrow.parquet as pq
import pandas as pd

# Read the Parquet file
green_trips = pq.read_table('green_tripdata_2019-09.parquet')
df = green_trips.to_pandas()

# Save to CSV
df.to_csv('green_trips.csv', index=False)

In [3]:
df = pd.read_csv('green_trips.csv', nrows=100)

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1.0,95,160,1.0,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2.0,1.0,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1.0,75,151,1.0,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1.0,1.0,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1.0,41,182,1.0,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1.0,1.0,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1.0,74,260,1.0,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1.0,1.0,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1.0,255,228,1.0,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2.0,1.0,0.0

In [5]:
taxi_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
taxi_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5435/ny_taxi_data')

In [9]:
engine.connect()

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [11]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_trip', con= engine))

CREATE TABLE green_taxi_trip (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
print(pd.io.sql.get_schema(taxi_zone, name ='taxi_zone_data', con= engine))

CREATE TABLE taxi_zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [14]:
df_iter = pd.read_csv('green_trips.csv', iterator= True, chunksize = 100000)

In [15]:
df= next(df_iter)

In [16]:
len(df)

100000

In [17]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [18]:
df.head(n=0).to_sql(name='green_taxi_data',con=engine,if_exists ='replace')

0

In [19]:
%time df.to_sql(name='green_taxi_data', con= engine, if_exists= 'append')

CPU times: total: 13.2 s
Wall time: 49.3 s

1000

In [ ]:
taxi_zone.head(n=0).to_sql(name='taxi_zone_data',con=engine,if_exists ='replace')

0

In [ ]:
while True: 
    try:
        t_start = time()
            
        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

In [ ]:
%time taxi_zone.to_sql(name='taxi_zone_data', con= engine, if_exists= 'append')

CPU times: total: 15.6 ms
Wall time: 377 ms

265

In [ ]:
len(taxi_zone)

265

In [ ]:
%time taxi_zone.to_sql(name='taxi_zone_data', con= engine, if_exists= 'replace')

CPU times: total: 15.6 ms
Wall time: 2.82 s

265